#container{
    background-color: #0170a3;    
    width: 17rem;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

#contador{
    margin-top: 5rem;
    margin-left: 2rem;
    border: 2px solid purple;
    width: 10rem;

}

#colorGame{
    margin-top: 15rem;
    margin-left: 2rem;
    border: 2px solid purple;
    width: 10rem;

}